body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    overflow: hidden;
}
.header {
    margin: 0 0 32px 0;
    padding: 16px;
    text-align: center;
    background-color: black;
    color: white;
}
.wip {
    text-align: center;
    font-weight: bold;
}
#wipPropWrapper {
    margin: auto;
    text-align: center;
    margin: 32px 0px;
    padding: 16px;
}
#wipPropWrapper > #wipProp {
    width: 90px;
}
.declaration {
    text-align: center;
    background-color: royalblue;
    width: fit-content;
    color: white;
    padding: 16px 32px;
    border-radius: 16px;
    margin: auto;
}